html {
  font-size: 10px;
  font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #3a86ff;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffc8dd;;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ffc8dd;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
.wave-title span {
  display: inline-block;
  animation: wave 1.5s ease-in-out infinite;
}

/* retraso progresivo para efecto ola */
.wave-title span:nth-child(1) { animation-delay: 0s; }
.wave-title span:nth-child(2) { animation-delay: 0.1s; }
.wave-title span:nth-child(3) { animation-delay: 0.2s; }
.wave-title span:nth-child(4) { animation-delay: 0.3s; }
.wave-title span:nth-child(5) { animation-delay: 0.4s; }
.wave-title span:nth-child(6) { animation-delay: 0.5s; }
.wave-title span:nth-child(7) { animation-delay: 0.6s; }
.wave-title span:nth-child(8) { animation-delay: 0.7s; }
.wave-title span:nth-child(9) { animation-delay: 0.8s; }
.wave-title span:nth-child(10) { animation-delay: 0.9s; }

@keyframes wave {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}
